body {
    margin: 0;
    padding: 1rem;
    /* box-sizing: border-box;
    height: 100vh;
    background-color: rgb(29, 35, 51); */
    color: white;
    background-color:rgb(223, 170, 102);

  
  }
  
  main {
    /* border: 1px solid white; */
    text-align: center;
    height: 100%;
  }
  
  p {
    padding: 2rem;
    text-align: left;
    font-size: large;
  }
  
  .box{
    border: 1px solid black;
    height: 12%;
    box-sizing: border-box;
    width: 40%;
    background-color: rgb(46, 41, 51);
  }
  
  img{
    height: 5%;
    padding-top: 30px;
    width: 80%;
    margin-left: 10%;
  }
  